<h1>Статьи</h1>

<section class="articles">
	<article>
		<header>
			<h2>Test</h2>
			<img src="/build/images/22.jpg" alt="">
		</header>
		<section class="content">
			Много букв. Шучу. Lorem Ipsum
			Lorem Ipsum, Lorem Ipsum
			Lorem IpsuLorem Ipsumm
			Lorem Ipsum, LorFUCKem Ipsum
		</section>
		<footer>
			
			<time>24.02.2015</time>
		</footer>
	</article>
	<article>
		<header>
			<h2>Эх, современной искусство</h2>
			<img src="/build/images/29.jpg" alt="">
		</header>
		<section class="content">
			В этой статье ... вваАВЫ ываыв
			В этой статье ... вваАВЫ ываыв
		</section>
		<footer>
			
			<time>24.02.2015</time>
		</footer>
	</article>
	<article class="x2">
		<header>
			<h2>Галерея на CSS и jQuery</h2>
			<img src="/build/images/1.jpeg" alt="">
		</header>
		<section class="content">
			Давайте захерачим прикольную галерею изображений
			для сайта, потому что делать нечего! 
		</section>
		<footer>
			
			<time>19.02.2015</time>
		</footer>
	</article>
	<article>
		<header>
			<h2>Куда катится Юнайтед?</h2>
			<img src="/build/images/18.jpg" alt="">
		</header>
		<section class="content">
			После поражения от "Суонси"...
		</section>
		<footer>
			
			<time>24.02.2015</time>
		</footer>
	</article>
	<article>
		<header>
			<h2>FFFFF!!!</h2>
			<img src="/build/images/31.jpg" alt="">
		</header>
		<section class="content">
			Много букв. Шучу. Lorem Ipsum
			Lorem IpsuLorem Ipsumm
			Lorem Ipsum, LorFUCKem Ipsum
		</section>
		<footer>
			
			<time>24.02.2015</time>
		</footer>
	</article>
	<article>
		<header>
			<h2>Need for Speed</h2>
			<img src="/build/images/5.jpg" alt="">
		</header>
		<section class="content">
			В этой статье ... вваАВЫ ываыв
			В этой статье ... вваАВЫ ываыв
		</section>
		<footer>
			
			<time>24.02.2015</time>
		</footer>
	</article>
	<article>
		<header>
			<h2>Гринч!!!</h2>
			<img src="/build/images/15.jpg" alt="">
		</header>
		<section class="content">
			Много букв. Шучу. Lorem Ipsum
			Lorem Ipsum, Lorem Ipsum
			Lorem IpsuLorem Ipsumm
			Lorem Ipsum, LorFUCKem Ipsum
		</section>
		<footer>
			
			<time>24.02.2015</time>
		</footer>
	</article>
	<article>
		<header>
			<h2>Slipknot "Wait and bleed"</h2>
			<img src="/build/images/14.jpg" alt="">
		</header>
		<section class="content">
			Табулатура
		</section>
		<footer>
			
			<time>24.02.2015</time>
		</footer>
	</article>
	<article>
		<header>
			<h2>Что-то там еще</h2>
			<img src="/build/images/10.jpg" alt="">
		</header>
		<section class="content">
			Где-то кто-то что-то когда-то сделал.
			Но не ты
		</section>
		<footer>

			<time>24.02.2015</time>
		</footer>
	</article>
</section>