<div class="btn">Simple</div>
<div class="btn btn-success">Success</div>
<div class="btn btn-notice">Notice</div>
<div class="btn btn-warning">Warning</div>
<div class="btn btn-error">Error</div>
<div class="btn btn-message">Message</div>
<div class="btn btn-large btn-success">Large</div>
<div class="btn btn-small btn-warning">Small</div>

<div id="open" class="btn btn-large btn-notice">Click me!</div>
<div id="alert" class="btn btn-small btn-message">Alert</div>

<div id="alert_box">
	<div class="alert">Простое сообщение</div>
	<div class="alert alert-success">Успешное сообщение</div>
	<div class="alert alert-notice">Уведомление</div>
	<div class="alert alert-warning">Предупреждение</div>
	<div class="alert alert-error">Ошибка!!!</div>
	<div class="alert alert-message">Сообщение</div>
</div>
