<div class="pattern"></div>
<div class="container">
	<nav class="row">
		<ul>
			<h2>О VooVe</h2>
			<li><a href="#">Примеры работ</a></li>
			<li><a href="#">Отзывы</a></li>
			<li><a href="#">Где я?</a></li>
			<li><a href="#">Обо мне</a></li>
		</ul>
		<ul>
			<h2>Блог</h2>
			<li><a href="#">Front-End</a></li>
			<li><a href="#">Back-End</a></li>
			<li><a href="#">Other</a></li>
		</ul>
		<p>
			2015 &copy; <a href="http://voove.ru" id="dev">VooVe</a>
		</p>
		<ul>
			<h2>Обратная связь</h2>
			<li>
				<form action="#" class="form">
					<input type="text" name="name" placeholder="Ваше имя">
					<input type="email" name="email" placeholder="Ваш email">
					<input type="submit" value="Отправить">
				</form>
			</li>
			<li>
				<ul class="social-links">
					<li><a href="#">Почта</a></li>
					<li><a href="#">VK.com</a></li>
					<li><a href="#">fb.com</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>