<form action="#" class="form">
	<input type="text" name="name" placeholder="Name">
	<!-- <label for="desc">Description</label> -->
	<textarea name="desc" placeholder="Description"></textarea>
	<!-- <label for="number">Number</label> -->
	<input type="number" name="number" placeholder="Number">
	<!-- <label for="number">Email</label> -->
	<input type="email" name="email" placeholder="Email">
	<!-- <label for="password">Password</label> -->
	<input type="password" name="password" placeholder="Password">
	<!-- <label for="date">Date</label> -->
	<input type="date" name="date" placeholder="Date">
	<input type="file" name="file" id="file1">
	<label for="file1">File</label>
	<input type="range" name="range" min="0" max="100" value="50" step="5">
	<label for="range"></label>
	<input type="checkbox" name="check" id="check1" checked>
	<label for="check1">Checkbox</label>
	<label for="radio">Radio</label>
	<input type="radio" id="radio1" value="1" name="group1">
	<label for="radio1">1</label>
	<input type="radio" id="radio2" value="2" name="group1">
	<label for="radio2">2</label>
	<input type="radio" id="radio3" value="3" name="group1" checked>
	<label for="radio3">3</label>
	<input type="radio" id="radio4" value="4" name="group1">
	<label for="radio4">4</label>
	<!-- <label for="sel">Select</label> -->
	<select name="sel" id="">
		<option value="1">Option 1</option>
		<option value="2" selected>Option 2</option>
		<option value="3">Option 3</option>
	</select>
	<input type="submit" class="btn-success" value="Access">
	<input type="reset" class="btn-error" value="Reset">
	<a href="#" class="btn">Cancel</a>
</form>