<div class="pattern"></div>
<div class="container">
	<div class="row">
		<a href="#" id="logo">VooVe</a>
		<nav>
			<ul>
				<li><a href="#">sign in</a></li>
				<li><a href="#">sign up</a></li>
			</ul>
		</nav>
		<form action="#" class="form" id="search">
			<input type="text" placeholder="Поиск" name="q"/>
		</form>
	</div>
</div>