<table class="table">
	<thead>
		<th>Header 1</th>
		<th>Header 2</th>
		<th>Header 3</th>
		<th>Header 4</th>
	</thead>
	<tr>
		<td>Coll 1</td>
		<td>Coll 1</td>
		<td>Coll 1Coll 1</td>
		<td>Coll 1</td>
	</tr>
	<tr>
		<td>Coll 1</td>
		<td>Coll 1</td>
		<td>Coll 1</td>
		<td>Coll 1</td>
	</tr>
	<tr>
		<td>Coll 1</td>
		<td>Coll 2Coll 1</td>
		<td>Coll 1</td>
		<td>Coll 1</td>
	</tr>
	<tr>
		<td>Coll 1</td>
		<td>Coll 1</td>
		<td>Coll 1Coll 1</td>
		<td>Coll 1</td>
	</tr>
	<tr>
		<td>Coll 1</td>
		<td>Coll 1</td>
		<td>Coll 1</td>
		<td>Coll 1Coll 1</td>
	</tr>
</table>
