<h2>Tabs</h2>

<section class="tabs">
	<nav class="tabs-nav">
		<ul>
			<li data-target="1">Tab 1</li>
			<li data-target="2">Tab 2</li>
			<li data-target="3">Tab 3</li>
			<li data-target="4">Tab 4</li>
		</ul>
	</nav>
	<ul class="tabs-content">
		<li data-target="1">
			<h1>Loren ipsum</h1>
			<p>Test</p>
			<img src="/build/images/25.jpg" alt="">
		</li>
		<li data-target="2">
			<h1>Tab 2</h1>
			<ul>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>				
			</ul>
		</li>
		<li data-target="3">
			<h1>Tab 3</h1>
		</li>
		<li data-target="4">
			<h1>Tab 4</h1>
		</li>
	</ul>
</section>