#alert_box {
	display: block;
	// position: fixed;
	.box(@p1, @p2) {
		position: relative;
		display: inline-block;
		width: auto;
		margin: .3em;
		padding: .6em 1.4em .6em .8em;
		border-radius: .3em;
		background-color: fade(@p1, 60%);
		color: @p2;
		text-shadow: 0 0 .1em darken(@p1, 10%);
		box-shadow: 0 0 .1em inset darken(@p1, 10%);
		border: 1px solid darken(@p1, 10%);
		transition: background-color ease .3s;
		cursor: default;
		.close {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			display: block;
			padding: .1em;
		}
		&:hover { background-color: @p1; }
	}
	.alert {
		.box(@base-color, white);
		&-success	{ .box(@success-color,	@success-text-color); }
		&-notice	{ .box(@notice-color,	@notice-text-color); }
		&-warning	{ .box(@warning-color,	@warning-text-color); }
		&-error		{ .box(@error-color,	@error-text-color); }
		&-message	{ .box(@message-color,	@message-text-color); }
	}
}