* {
	margin: 0;
	padding: 0;
	border-box: box-sizing;
	.opensans;
}

a, p, h1, h2, h3, h4, h5, h6 {
	color: white;
	text-shadow: .1em .1em .2em #222;
}
h1 { margin-bottom: .3em; }
img { max-width: 100%; }

.pattern {
	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: radial-gradient(transparent, rgba(255, 255, 255, .3));
	background-repeat: repeat;
	background-size: 3px 3px;
	background-attachment: fixed;
	z-index: -1;
}

body {
	background: linear-gradient(to right, @second-color, @base-color, @second-color);
	background-attachment: fixed;
	background-size: cover;
}

#logo {
	color: white;
	float: left;
	text-decoration: none;
	font-size: 3em;
	transition: all ease .3s; 
	.lobster;
	&:hover { text-shadow: 0 0 .3em white; }
}
#dev { .lobster; }

#hero {
	display: block;
	position: relative;
	text-align: center;
	width: 100vw;
	padding: 3.5em 1em;
	box-sizing: border-box;
	background: url(/build/images/34.jpg);
	// background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: white;
	font-weight: lighter;
	box-shadow: inset 0 0 2em #222;
	.vertical-middle;
	.clearfix;
	h1 { font-size: 4em; }
	h1, h2, h3, h4 {
		font-weight: lighter;
		float: left;
		clear: both;
		width: auto;
		background: fade(@second-color, 70%);
		padding: .5em;
		cursor: default;
	}
}

#header {
	display: block;
	position: relative;
	width: 100vw;
	.clearfix;
	nav {
		float: right;
		ul {
			list-style: none;
			li {
				display: inline-block;
				margin: .5em;
				a {
					display: block;
					text-decoration: none;
					border: 1px solid white;
					padding: .6em .8em;
					border-radius: 2em;
					transition: all ease .3s;
					&:hover {
						color: @base-color;
						background: white;
					}
				}
			}
		}
	}
	#search {
		float: right; 
		margin: .4em 2em;
		vertical-align: middle;
	}
}

#main {
	background: rgba(255, 255, 255, .3);
	box-sizing: border-box;
	.clearfix;
}

#footer {
	display: block;
	position: relative;
	nav {
		&>* { margin: 2em; }
		ul {
			list-style: none;
			display: inline-block;
			color: white;
			li {
				display: block;
				padding: .3em .4em;
			}
			&.social-links li {	display: inline-block; }
		}
	}
}
