.articles {
	position: relative;
	width: 100%;
	.clearfix;
	article {
		vertical-align: top;
		@w: 24%;
		width: @w;
		min-width: 15em;
		margin: .2em;
		padding: .7em;
		box-sizing: border-box;
		font-weight: lighter;
		color: white;
		border: 1px solid @second-color;
		background: fade(@base-color, 20%);
		box-shadow: .1em .1em 1em @second-color inset;
		transition: all ease .3s;
		float: left;
		&.x2 { width: @w*2; }
		&.x3 { width: @w*3; }
		&.x4 { width: 100%; }
		&:hover {
			box-shadow: .1em .1em .5em @second-color;
			background: fade(@base-color, 40%);
		}
		header {
			h1, h2, h3, h4, h5, h6 { font-weight: lighter; }
		}
		.content {
			padding: .5em;
			border-bottom: 1px white solid;
		}
		.footer {

		}
	}
}
article.article {

}