.btn {
	.box(@p1, @p2) {
		@p3: darken(@p1, 20%);
		@p4: fade(lighten(@p1, 10%), 80%);
		display: inline-block;
		padding: .3em .6em;
		margin: .2em;
		border-radius: .5em;
		border: 1px solid @p3;
		background-color: @p4;
		color: @p2;
		text-shadow: .1em .1em .2em @p3;
		box-shadow: inset 0 0 .3em @p1;
		cursor: pointer;
		transition: all ease .3s;
		text-decoration: none;
		&:hover { 
			background-color: @p1;
			border-color: @p3;
			box-shadow: 0 0 .4em @p4;
		}
	}
	.box(@base-color, white);
	&-success	{ .box(@success-color,	@success-text-color); }
	&-notice	{ .box(@notice-color,	@notice-text-color); }
	&-message	{ .box(@message-color,	@message-text-color); }
	&-warning	{ .box(@warning-color,	@warning-text-color); }
	&-error		{ .box(@error-color,	@error-text-color); }
	&-large		{ font-size: 1.5em; }
	&-small		{ font-size: .8em; }
}