#dialog {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .2);
	text-align: center;
	.inner {
		position: relative;
		margin: 0 auto;
		display: inline-block;
		background: @notice-color;
		border: 1px solid fade(#222, 60%);
		border-radius: 0 0 .4em .4em;
		box-shadow: inset 0 0 1em #222;
		color: white;
		text-shadow: .1em .1em .2em #222;
		padding: 2em;
		h1, h2 {
			text-decoration: underline;
			margin-bottom: .3em;
		}
	}
	.close {
		position: absolute;
		display: block;
		padding: .3em;
		top: 0;
		right: 0;
		font-size: large;
		cursor: pointer;
	}
}