@import url(http://fonts.googleapis.com/css?family=Lobster|Play|Comfortaa:400,300,700|Open+Sans:400,300&subset=latin,cyrillic);

.lobster	{ font-family: 'Lobster', cursive; }
.play		{ font-family: 'Play', sans-serif; }
.comfortaa	{ font-family: 'Comfortaa', cursive; }
.opensans	{ font-family: 'Open Sans', sans-serif; }