.form {
	// label { display: none; }
	textarea {
		height: 7em;
		resize: none;
	}
	input[type="text"], input[type="email"], 
	input[type="password"], input[type="number"], 
	input[type="date"], textarea {
		width: auto;
		outline: none;
		display: block;
		padding: .3em .6em;
		font-size: 1em;
		margin: .5em 0;
		background: rgba(255, 255, 255, .1);
		border: none;
		border-bottom: 1px solid @base-color;
		color: white;
		text-shadow: #222 .1em .1em .2em;
		transition: all ease .3s;
		&:invalid {
			color: @error-color;
			border-color: @error-color;
		}
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-moz-placeholder,
		&:-ms-input-placeholder { color: white; }
		&:required {}
		&:valid { border-color: @success-color; }
		&:empty { border-color: @base-color; }
		&:focus, &:hover { 
			box-shadow: @base-color .1em .2em .4em;
			background: rgba(255, 255, 255, .5);
		}
	}
	input[type="checkbox"] {
		width: 1em;
		height: 1em;
		outline: none;
		& + label { 
			cursor: pointer; 
			display: block; 
			margin: .7em auto; 
			color: white; 
			text-shadow: .1em .1em .2em #222; 
		}
		&:not(checked) { position: absolute; opacity: 0; }
		&:not(checked) + label {
			position: relative;
			padding-left: 3.5em;
			&:before {
				content: '';
				position: absolute;
				top: -.2em;
				left: 0;
				width: 3em;
				height: 1.7em;
				border-radius: 1em;
				background: rgba(255, 255, 255, .1);
				box-shadow: inset 0 .2em .3em rgba(0, 0, 0, .7);
				outline: none;
				border: none;
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: .2em;
				width: 1.3em;
				height: 1.3em;
				border-radius: 1em;
				background: white;
				box-shadow: 0 .2em .5em rgba(0, 0, 0, .3);
				transition: all ease .3s;
			}
		}
		&:checked + label:before { background: @base-color; }
		&:checked + label:after { left: 1.5em; }
		&:focus + label:before { box-shadow: 0 0 0 3px rgba(255, 255, 255, .5); }
	}
	input[type="radio"] {
		width: 1em;
		height: 1em;
		outline: none;
		& + label {
			cursor: pointer;
			display: block;
			margin: .7em auto;
			color: white;
			text-shadow: .1em .1em .2em #222;
		}
		&:not(checked) { position: absolute; opacity: 0; }
		&:not(checked) + label {
			position: relative;
			padding-left: 3.5em;
		}
		&:not(checked) + label:before {
			content: '';
			position: absolute;
			top: -.2em;
			left: 0;
			width: 1.7em;
			height: 1.7em;
			border-radius: 1em;
			background: white;
			// box-shadow: inset .2em .3em rgba(0, 0, 0, .7);
			outline: none;
			border: none;
		}
		&:not(checked) + label:after {
			content: '';
			position: absolute;
			top: 0;
			left: .2em;
			width: 1.3em;
			height: 1.3em;
			border-radius: 1em;
			background: white;
			box-shadow: 0 .2em .5em rgba(0, 0, 0, .3);
			transition: all ease .3s;
		}
		&:checked + label:before {
			// background: @base-color;
		}
		&:checked + label:after {
			background: @base-color;
		}
	}
	input[type="file"] {
		display: block;
		& { position: absolute; opacity: 0; }
		& + label {
			position: relative;
			display: block;
			margin: .7em auto;
			padding-left: 3.5em;
			color: white;
			text-shadow: .1em .1em .2em #222;
			&:before {
				content: '';
				width: 1.7em;
				height: 1.7em;
				background: white;
				position: absolute;
				left: 0;
				top: -.2em;
				border-radius: 1em;
				box-shadow: inset .1em .2em .3em rgba(0, 0, 0, .4);
			}
			&:after {
				content: '';
				position: absolute;
				left: .2em;
				top: 0;
				width: 1.3em;
				height: 1.3em;
				border-radius: 1em;
				background: @base-color;
			}
		}
		&:valid + label {
			&:after {
				background: white;
			}
		}
	}
	select {
		display: block;
		margin: .7em auto;
	}
	input[type="submit"], input[type="reset"] { .btn; font-size: 1em; }
}