#gallery {
	* { box-sizing: border-box; }
	list-style: none;
	li {
		position: relative;
		display: inline-block;
		height: 150px;
		width: auto;
		cursor: pointer;
		overflow: hidden;
		transition: all ease .3s;
		img {
			position: relative;
			max-height: 100%;
			max-width: 100%;
			transition: all ease .3s;
		}
		.desc {
			display: block;
			position: absolute;
			bottom: -100%;
			left: 0;
			color: white;
			text-shadow: .1em .1em .2em #222;
			background: rgba(0, 0, 0, .3);
			padding: .5em;
			width: 100%;
			transition: bottom ease .3s;
		}
		&:hover {
			.desc { bottom: 0; }
		}
		&:first-child.opened	.prev { display: none; }
		&:last-child.opened		.next { display: none; }
		&.opened {
			width: 100%;
			height: auto;
			cursor: default;
			background: darkgrey;
			padding: 1em auto;
			margin: .5em auto;
			box-shadow: 0 0 2em rgba(0, 0, 0, .6);
			.close, .prev, .next {
				position: absolute;
				display: block;
				margin: .3em;
				color: white;
				text-shadow: 0 0 .2em #222;
				font-size: xx-large;
				cursor: pointer;
				transition: all ease .3s;
				&:hover { text-shadow: 0 0 .5em rgba(255, 255, 255, .5); }
			}
			.close { top: -100%;	right: -100%; }
			.prev, .next {
				height: 2em;
				top: 50%;
				margin-top: -1em;
			}
			.prev { left: -100%; }
			.next { right: -100%; }
			&:hover {
				.close { top: 0; right: 0; }
				.prev { left: 0; }
				.next { right: 0; }
			}
		}
	}
}