.clearfix {
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}

.container {
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding: 1em;
}

@media all and (max-width: @res-width) {
	.row {
		&>* {
			position: relative;
			display: block;
			margin: 0 auto;
		}
	}
}

@media all and (min-width: @res-width) {
	.container {
		max-width: @max-width;
		.clearfix;
	}
	.row {
		.vertical-middle;
		width: 100%;
	}
}