.table {
	width: 100%;
	border-collapse: collapse;
	border-radius: .3em;
	border: 1px solid fade(@base-color, 50%);
	box-shadow: .1em .2em .6em #222;
	overflow: hidden;
	thead {
		th {
			padding: .4em .6em;
			border: 0 fade(@base-color, 50%) solid;
			border-right-width: 1px;
			border-bottom-width: 1px;
			background: rgba(255, 255, 255, .2);
			&:last-child { border-right-width: 0; }
		}
	}
	tr {
		td {
			border: 0 solid fade(white, 50%);
			border-right-width: 1px;
			border-bottom-width: 1px;
			background: rgba(255, 255, 255, .1);
			padding: .4em .6em;
			transition: all ease .3s;
			&:last-child { border-right-width: 0; }
		}
		&:hover td { background: rgba(255, 255, 255, .3); }
	}
}