.tabs {
	position: relative;
	overflow: hidden;
	* { box-sizing: border-box; }
	.tabs-nav {
		ul {
			list-style: none;
			li {
				display: inline-block;
				margin: 0;
				padding: .3em .6em;
				border-radius: .3em .3em 0 0;
				border: solid @base-color;
				border-width: 1px 1px 0 1px;
				cursor: pointer;
				margin-bottom: -1px;
				background: @base-color;
				color: white;
				text-shadow: .1em .2em .3em #222;
				&.active {
					border-bottom-color: transparent;
					background: lighten(@base-color, 30%);
				}
			}
		}
	}
	.tabs-content {
		padding: 1em;
		border: 1px solid @base-color;
		width: 100%;
		background: lighten(@base-color, 30%);
		border-radius: 0 .3em .3em .3em;
		& > li {
			display: none;
			&.active { display: block; }
			img { width: 100%; }
		}
	}
}