@base-color: #309;
@second-color: #003;
@max-width: 1280px;
@res-width: 720px;

@success-color: #3c6;
@success-text-color: white;
@warning-color: #c90;
@warning-text-color: white;
@notice-color: #39c;
@notice-text-color: white;
@error-color: #900;
@error-text-color: white;
@message-color: #99f;
@message-text-color: white;